<div class="interview-topic">
  <div class="javascript card">
    <div class="topic-logo">
      <img src="images/javascript.png" class="" height="80px" />
    </div>
    <h3>Javascript</h3>
    <button
      class="btn btn-dark mt-2"
      (click)="startInterview('javascript')"
    >
      Start Interview
    </button>
  </div>

  <div class="java card">
    <div class="topic-logo">
      <img src="images/java.png" class="" height="80px" />
    </div>
    <h3>Java</h3>
    <button
      class="btn btn-dark mt-2"
      (click)="startInterview('java')"
    >
      Start Interview
    </button>
  </div>

  <div class="angular card">
    <div class="topic-logo">
      <img src="images/angular.png" class="" height="80px" />
    </div>
    <h3>Angular</h3>
    <button class="btn btn-dark mt-2" (click)="startInterview('angular')">
      Start Interview
    </button>
  </div>

  <div class="html card">
    <div class="topic-logo">
      <img src="images/html-file.png" class="" height="80px" />
    </div>
    <h3>Html</h3>
    <button class="btn btn-dark mt-2" (click)="startInterview('html')">
      Start Interview
    </button>
  </div>

  <div class="css card">
    <div class="topic-logo">
      <img src="images/css.png" class="" height="80px" />
    </div>
    <h3>Css</h3>
    <button class="btn btn-dark mt-2" (click)="startInterview('css')">
      Start Interview
    </button>
  </div>

  <div class="react card">
    <div class="topic-logo">
      <img src="images/react.png" class="" height="80px" />
    </div>
    <h3>React</h3>
    <button class="btn btn-dark mt-2" (click)="startInterview('react')">
      Start Interview
    </button>
  </div>
  <div class="python card">
    <div class="topic-logo">
      <img src="images/python.png" class="" height="80px" />
    </div>
    <h3>Python</h3>
    <button class="btn btn-dark mt-2" (click)="startInterview('python')">
      Start Interview
    </button>
  </div>
  <div class="typescript card">
    <div class="topic-logo">
      <img src="images/typescript.png" class="" height="80px" />
    </div>
    <h3>Typescript</h3>
    <button
      class="btn btn-dark mt-2"
      (click)="startInterview('typescript')"
    >
      Start Interview
    </button>
  </div>
  <!-- <div class="dsa card">
    <div class="topic-logo">
      <img src="images/dsa.png" class="" height="80px" />
    </div>
    <h3>Typescript</h3>
    <button
      class="btn btn-dark mt-2"
      (click)="startInterview('DSA')"
    >
      Start Interview
    </button>
  </div> -->
</div>
