<div class="main-content">
  <div class="greeting-message">
    <p class="bg-warning text-center fw-bold text-dark m-0">
      Welcome to AI Interviwer
    </p>
  </div>
  <div class="choices mx-5 pt-5 pb-5" *ngIf="service.show_home_content()">
    <!-- Choose topic feature  -->
    <div
      class="topic-choice home-card d-flex align-items-center justify-content-center"
      (click)="handleChooseTopicComponent()"
    >
      <div class="text-center">
        <img src="images/topic.gif" height="300px" width="400px" />
        <p class="mt-2 fw-bold">Choose Programming Language</p>
      </div>
    </div>
    <!-- manually add questions  -->
    <div
      class="mannually-choice home-card d-flex align-items-center justify-content-center"
      (click)="handleManuallyComponent()"
    >
      <div class="text-center">
        <img src="images/questions.gif" height="300px" width="400px" class="" />
        <p class="mt-2 fw-bold">Add Questions Mannually</p>
      </div>
    </div>
    <!-- file upload feature  -->
    <div
      class="upload-file-choice home-card d-flex align-items-center justify-content-center"
      (click)="handleUploadFileComponent()"
    >
      <div class="text-center">
        <img src="images/upload-file.gif" height="300px" width="400px" />
        <p class="mt-2 fw-bold">Upload pdf file to start Interview</p>
      </div>
    </div>
  </div>
  <div *ngIf="service.show_file_upload_content()" class="ms-5 me-5 mt-4">
    <app-upload-file></app-upload-file>
  </div>
  <div *ngIf="this.service.showManuallyAddContent()" class="ms-5 me-5 mt-4">
    <app-manually-add-questions></app-manually-add-questions>
  </div>
  <div *ngIf="service.show_choose_topic_content()" class="ms-5 me-5 mt-4">
    <app-interview-topics></app-interview-topics>
  </div>
  <div *ngIf="service.startInterwalComp()" class="ms-5 me-5 mt-4">
    <app-meeting></app-meeting>
  </div>
</div>
