.main-content {
  background-color: rgb(197, 198, 197);
  flex: 1; /* Pushes footer down */

  .choices {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .home-card {
      background-color: white;
      height: 400px;
      margin: 10px 20px;
      border-radius: 10px;

      p {
        font-size: 20px;
      }
    }

    .home-card:hover {
      cursor: pointer;
    }
  }
}
